* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.navbar {
  width: 100%;
  height: 50px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
  display: flex;
  justify-content: space-around;
  align-items: center;
  

}


.navbar div {
  font-size: 20px;  
}


.navbar div:hover {
  color: rgb(51, 53, 54);  
  border-bottom: 2px solid black;
}

.container {
  padding: 20px;
}

.issues-body {
  border: 1px solid black;
}